<ng-container *ngIf="allUsers$ | async; else userDetailsNotFetched">
  <div class="md:grid md:grid-cols-3">
    <div class="form-wrapper">
      <form [formGroup]="signUpForm">
        <div class="form-group">
          <legend class="form-heading">Register</legend>
          <div class="form-group">
            <label for="username" class="form-label required">Username</label>
            <input
              type="text"
              id="username"
              class="form-control highlight"
              formControlName="username"
              [ngClass]="{
                'is-invalid': isInValid(value('username')),
                'is-valid': isValid(value('username'))
              }"
            />

            <div class="valid-feedback">Username is available.</div>

            <small
              *ngIf="value('username').errors?.['alreadyTakenError']"
              class="invalid-feedback"
              >{{ "Username is already Taken." }}</small
            >

            <small
              *ngIf="
                  value('username').touched &&
                  value('username').errors?.['required']
                "
              class="invalid-feedback"
              >{{ "Username is Mandatory." }}</small
            >
            <small
              *ngIf="
                  !value('username').dirty ||
                  value('username').errors?.['required']
                "
              style="color: grey"
            >
              {{ "*Username need atleast 3 characters." }}
            </small>
            <small
              *ngIf="
                  value('username').errors?.['minlength'] &&
                  value('username').dirty
                "
              style="color: grey"
              >{{ "*Username need" }} {{
              value("username").errors?.['minlength'].requiredLength -
              value("username").errors?.['minlength'].actualLength }} {{ "more
              characters." }}</small
            >
          </div>

          <div class="form-group">
            <label for="first_name" class="form-label">First Name</label>
            <input
              type="text"
              id="first_name"
              class="form-control highlight"
              formControlName="first_name"
            />
          </div>

          <div class="form-group">
            <label for="last_name" class="form-label">Last Name</label>
            <input
              type="text"
              id="last_name"
              class="form-control highlight"
              formControlName="last_name"
            />
          </div>

          <div class="form-group">
            <label for="email" class="form-label required">Email</label>
            <input
              id="email"
              type="email"
              class="form-control highlight"
              formControlName="email"
              [ngClass]="{
                  'is-valid': isValid(value('email')),
                  'is-invalid': isInValid(value('email'))
                }"
            />

            <div class="valid-feedback">Email is available.</div>

            <small
              *ngIf="value('email').errors?.['alreadyTakenError']"
              class="invalid-feedback"
              >{{ "Email is already Taken." }}</small
            >

            <small
              *ngIf="
                  isInValid(value('email')) && value('email').errors?.['pattern']
                "
              class="invalid-feedback"
              >{{ "Enter email in valid format." }}</small
            >

            <small
              *ngIf="
                  value('email').touched && value('email').errors?.['required']
                "
              class="invalid-feedback"
              >{{ "Email is Mandatory." }}</small
            >
          </div>

          <div class="form-group">
            <label for="password" class="form-label required">Password</label>
            <input
              id="password"
              type="password"
              class="form-control highlight"
              formControlName="password"
              [ngClass]="{
                  'is-valid': isValid(value('password')),
                  'is-invalid': isInValid(value('password'))
                }"
            />

            <div class="valid-feedback">Password is in Valid format.</div>

            <small
              *ngIf="
                  value('password').touched &&
                  value('password').errors?.['pattern']
                "
              class="invalid-feedback"
              >{{ "Enter password in valid format." }}</small
            >

            <small
              *ngIf="
                  value('password').touched &&
                  value('password').errors?.['required']
                "
              class="invalid-feedback"
              >{{ "Password is Mandatory." }}</small
            >
            <small
              *ngIf="
                  value('password').errors?.['required'] ||
                  value('password').dirty
                "
              style="color: grey"
            >
              <ng-template #initialText>
                <span *ngIf="!isValid(value('password'))"
                  >{{ "*Need 8 characters including a number,an Uppercase and
                  lowercase letter." }}</span
                >
              </ng-template>
              <div
                *ngIf="
                    value('password').dirty &&
                      value('password').errors &&
                      !value('password').errors?.['required'];
                    else initialText
                  "
              >
                *Need
                <span *ngIf="value('password').errors?.['minlength']">
                  {{ value("password").errors?.['minlength'].requiredLength -
                  value("password").errors?.['minlength'].actualLength }}
                  <span
                    *ngIf="
                        value('password').errors?.['minlength'].requiredLength -
                          value('password').errors?.['minlength'].actualLength >
                        1
                      "
                    >{{ "characters, " }}</span
                  >
                  <span
                    *ngIf="
                        value('password').errors?.['minlength'].requiredLength -
                          value('password').errors?.['minlength'].actualLength <=
                        1
                      "
                    >{{ "character, " }}</span
                  >
                </span>
                <span *ngIf="value('password').errors?.['hasNumber']"
                  >{{ "a number, " }}</span
                >
                <span *ngIf="value('password').errors?.['hasCapitalCase']"
                  >{{ "an Uppercase " }}</span
                >
                <span *ngIf="value('password').errors?.['hasSmallCase']"
                  >{{ "and lowercase" }}
                </span>
                <span
                  *ngIf="
                      value('password').errors?.['hasSmallCase'] ||
                      value('password').errors?.['hasCapitalCase']
                    "
                  >{{ " letter." }}</span
                >
              </div>
            </small>
          </div>

          <button
            (click)="signUp()"
            type="submit"
            class="btn"
            [disabled]="signUpForm.invalid"
            [ngClass]="{
                'form-valid': !signUpForm.invalid,
                'form-invalid': signUpForm.invalid
              }"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-template #userDetailsNotFetched>
  <app-spinner spinnerSize="2rem"
    >{{ "Fetching required details" }}</app-spinner
  >
</ng-template>
