<div class="flex flex-col h-screen overflow-hidden">
  <app-header></app-header>
  <div class="flex flex-row h-full mt-16">
    <app-sidebar></app-sidebar>

    <div class="flex flex-col justify-between flex-auto overflow-x-hidden">
      <app-spinner class="mt-6" spinnerSize="2rem" *ngIf="routingIsDelayed"
        >Loading resources for requested page...</app-spinner
      >

      <app-http-loader
        [dimension]="'6rem'"
        *ngIf="(waitingForResponse$ | async) === true"
      ></app-http-loader>

      <ng-content *ngIf="!routingIsDelayed"></ng-content>

      <app-footer
        style="
          background-size: cover;
          background-image: url('/static/frontend/assets/bg-dark.svg');
        "
      ></app-footer>
    </div>
  </div>
</div>
